.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  font-size: 0.6rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}


.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  color: black;
  font-weight: 500;
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.center h1{
  font-size: 2vmax;
  font-weight: 400;
}

.center h1 span{
  font-size: 3vmax;
  font-weight: 600;
  letter-spacing: normal;
}

.develop{
  background-color: #E1D4BB;
  color: black;
  font-size: 1vmax;
  font-weight: 800;
  padding: 0.6vmax 3vmax;
}

.space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageDiv{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px ridge #E1D4BB;
  box-shadow: 0 0 30px 15px #E1D4BB;
}

.image{
  width: 100%;
}

.about{
  background-color:hsla(39, 39%, 81%, 0.4);
  border-radius: 10%;
  text-align: center;
  width: 70%;
  margin: 2rem auto;
  padding: 4rem;
}

.about p {
  font-size: large;
  font-weight: 500;
  padding-bottom: 0.5rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(225, 212, 187, 0.5);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }


  .center {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: start;
    padding: 4rem 0 4rem;
    
  }

  .space{
    margin-bottom: 50px;
    gap: 1vmax;
  }
  

  .center h1{
    font-size: 3vmax;
  }
  
  .center h1 span{
    font-size: 4vmax;
  }
  
  .develop{
    font-size: 2vmax;
  }
  
  .description {
    font-size: 0.4rem;
  }


  .about{
    border-radius: 0;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .center{
    width: 70%;
    margin-bottom: 1vmax;
  }

  .imageDiv{
    width: 250px;
    height: 250px;
  }


  .about{
    border-radius: 0;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem 2rem;
  }
}
