.main {
    width: 100%;
    height: 100vh;
}

.side {
    position: fixed;
    top: 0;
    text-align: center;
    padding: 0 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px 5px #E1D4BB;

}

.box {
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    gap: 2vmax;
    align-items: center;
    width: 80vw;
    /* height: 300px; */
  
}

.vid {
    width: 70vw;
    overflow: hidden;
    transition: 1s;
}

.vid video {
    width: 100%;
    object-fit: cover;
}

.vid img{
    width: 60%;
    margin:  0 10vmax;
}


.content {
    border-radius: 20px;
    width: 30vw;
    text-align: center;
    background-color: hsla(39, 39%, 81%, 0.5);
    padding: 1vmax;
}

.desktop{
    display: flex;
    flex-direction: column;
}

.mobile{
    display: none;
}

.content button{
    background-color: #edebec;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 5vmax;
    color: black;
    font-weight: 600;
    margin-top: 1vmax;
    padding: 0.5vmax 1vmax;
    transition: 0.5s;
}

.content button:hover{
    background-color: hsla(330, 5%, 93%, 0.5);

}

/* Mobile */
@media (max-width: 700px) {
    .main {
        height: 0vh;
        padding: 5vmax 0 ;
    }

    .side {
        height: 150px;
        padding: 0 1vmax ;
    }

    .side h2{
        font-size: large;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: column;
    }

    .box {
        flex-direction: column;
        width: 100vw;
        margin-top: 100px;
        gap: 3vmax;
        height: fit-content;
    }
    
    .vid {
        width: 100vw;
    }
    
    
    .vid img{
        width: 100%;
        margin: 0;
    }
    
    
    .content {
        width: 100vw;
        padding: 1vmax 5vmax;
    }

    .content button{
        margin-top: 2vmax;
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .side {
        height: 150px;
        padding: 0 1vmax ;
    }

    .side h2{
        font-size: large;
    }
    
}